.card{
    height: auto;
    width: auto;
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 150px;
}

.imagenes{
    width: 130px;
    height: 100px;
    margin-top: 10px;
}

button{
    margin-top: 70px;
}