.items{
    text-align: center;
    font-size: 40px;
}

.ordenLista a{
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
}

.textNavLinkDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(244, 244, 244);
    color: rgb(0, 0, 0);
    height: 80px;
}

.textNavLinkNavLink{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 50px;
}

.titCategory{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}

body{
    background-color: rgb(242, 242, 242);
}
