.card1{
    height: 350px;
    width: 150px;
    background-color: white;
    text-align: center;
    color:black;
    margin-top: 150px;
}


.imagenes1{
    width: 200px;
    height: 200px;
}

button{
    margin-top: 70px;
}

.textOrder {
    text-align: center;
}