.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 120px;
    height: 125px;
    font-size: 20px;
}

a {
    cursor: pointer;
}

.links{
    text-decoration: none;
    color: white;
}

.links:hover,
.links:active,
.links.active{
    color: white;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid white;
}

body {
    background-color: rgba(255, 255, 255, 0.945);
}