*{
    padding: 0;
    margin: 0;
}

/* .title {
    background-color: rgb(235, 13, 13);
    padding-bottom: 2rem;
    width: 10.2rem;
} */

.btn {
    width: 50px;
    border-radius: 50px;
    background-color: rgb(129, 129, 129);
    color: rgba(255, 255, 255, 0.829);
    font-size: 20px;
    border: 2px solid black;
    cursor:pointer;

    
}


.contador {
    display: inline-flex;

    width: 10rem;
    
}

.view {
    margin: 0 auto 0 auto;  
}

.Counter {

    width: 11rem;
    margin-left: 2rem;
    margin-top: 5rem;

}
.Counter1 {
    width: 11rem;
    margin-left: 2rem;

}


.addCart {
    background-color: rgba(0, 0, 0, 0.842);
    color: rgba(255, 255, 255, 0.995);
    width: 10.2rem;
    height: 40px;
    border-radius: 20px;
    cursor:pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;

}

.stock {
    padding-top: 10px;
    padding-bottom: 10px;
}